<nav class="bg-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <i class="fas fa-graduation-cap text-3xl text-gray-800">STD</i>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <ng-container *ngFor="let route of filteredRoutes">
            <a
              [routerLink]="[route.path]"
              routerLinkActive=" text-gray-900 border-gray-400 "
              [routerLinkActiveOptions]="{ exact: route.exact || false }"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
            >
              {{ route.label }}
            </a>
          </ng-container>
        </div>
      </div>
      <div class="flex items-center">
        <button
          type="button"
          class="bg-indigo-600 p-1 rounded-full text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          (click)="logout()"
        >
          <span class="sr-only">Sign out</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="sm:hidden pt-2 pb-3 space-y-1">
    <ng-container *ngFor="let route of filteredRoutes">
      <a
        [routerLink]="[route.path]"
        routerLinkActive="bg-indigo-50 border-indigo-500 text-indigo-700"
        [routerLinkActiveOptions]="{ exact: route.exact || false }"
        class="border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
      >
        {{ route.label }}
      </a>
    </ng-container>
  </div>
</nav>
